<form id="registration_form" action="#">
  Email: <input v-model="message" placeholder="Email">
</form>
<script type="text/javascript">
  var registration_form = new Vue({
    el: 'registration_form',
  })
</script>
